@import "./containerLeft.css";
@import "./containerRight.css";
@import "./fishcard.css";
@import "./footer.css";
@import "./header.css";
@import "./nav.css";
@import "./tipCard.css";



body {
    background-color: lightseagreen;
}
h1 {
    display: block;
    font-size: 1em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.contentContainer {
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    justify-content: space-between; 
   
    } 

.contentArticle {
    background-color: lightseagreen;
    flex-wrap: wrap;
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
    
    
    
}

img {
    width: 60%;
}
