.contentContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction:  column;
    justify-content: space-between;
   
}
div {
    display: block;
}
.contentArticle {
    background-color: lightseagreen;
}
.contaninerLeft {
    width: 25%;
}
.containerRight {
    width: 75%;
}
.tipCard{
    flex: 25%;
}
aside{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #96D1C7;
}
.fishCard {
    border: 2px dotted black;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 48%;
}
.fishCard__name{
    font-weight: bold;
}
footer {
    grid-column: 1/3;
    grid-row: 3/4;
    background-color: #96D1C7;
    display: flex;
}
header {
    grid-column: 1/3;
    grid-row: 3/4;
    background-color: #98cac2; 
    padding: 60px;
    text-align: center;
    font-size: 30px;
    display: flex;
    
}
nav {
    
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
article {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #FC7978;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
    
    
    
}
.containerRight {
    align-self: flex-start;

}
img {
    width: 25%;
}
/* li {
    float: none;
}
li a {
    display: block;
    
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    
} */
/* .containerLeft__fishList {
    display: flex;
    
    
} */
.locationCard {
    display: flex;
}
