/* nav {
    
    align-items: center;
    
}


.navigation-bar {
    
    overflow: hidden;
}
.navigation-bar a {
    float: none;
   
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navigation-bar a.active {
    background-color: #4CAF50;
    color: white;
}
.navigation-bar .icon {
    display:none;
}


.navigation-bar li {
    float: none;
}

.navigation-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
    display: flex;
    
    
} */

.logo {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1px;
    width: 150px;
    float: left;
}

.navigation-bar a{
   
    flex-direction: row;
    float: none;
   
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.nav-bar a{
    
    list-style: none;
    width: 100vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    text-align: center;
    color: whitesmoke;

    
}

