nav {
    /* flex-direction: row;
    justify-content: space-between; */
    align-items: center;
    /* flex-wrap: wrap; */
    /* justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0; */
}
/* nav {
    
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
} */

.navigation-bar {
    
    overflow: hidden;
}
.navigation-bar a {
    float: left;
    /* display: block; */
    /* color: #f2f2f2; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
/* .navigation-bar a:hover {
    background-color: #ddd;
    color: black;
} */
.navigation-bar a.active {
    background-color: #4CAF50;
    color: white;
}
.navigation-bar .icon {
    display:none;
}


.navigation-bar li {
    float: left;
}

.navigation-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
    display: flex;
    
    
}